#Section_one{
    display: grid;
    grid-auto-flow: column;
}

#Header_one{
    grid-auto-flow: column;
    height: 50px;
    justify-items: start;
    align-items:center;
}

#articleimage{
    height: 30%;
    width: 20%;
}

#header_photo{
    justify-content: start;
    height: 40px;
    width: 40px;
}

nav{
justify-self: end;
}

img{
    width: 50vw;
    height: 50vh;
}

#divtwo>img{
    display: grid;
    grid-auto-flow: column;
    repeat(auto-fit, minmax(300px 1fr));
}